@model TheStoneClinic.Models.AppointmentDetail

@{
    ViewData["Title"] = "Cancel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cancel</h1>

<h3>Are you sure you want to Cancel this Appointment?</h3>
<div>
    <h4>AppointmentDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialization)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.PatientId)
        </dd>
    </dl>
    
    <form asp-action="Cancel">
        <input type="hidden" asp-for="AppointmentNumber" />
        <input type="submit" value="Cancel" class="btn btn-danger" /> |
        <a asp-action="AppointmentDetails">Back to List</a>
    </form>
</div>
