@model IEnumerable<TheStoneClinic.Models.PatientDetail>

@{
    ViewData["Title"] = "Patients";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Patients</h1>

<p>
    <a asp-action="AddPatient">Add New Patients</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                    <a asp-action="EditPatient" asp-route-id="@item.PatientId">Edit</a> |
                    <a asp-action="PatientDetails" asp-route-id="@item.PatientId">View Details</a> |
                    <a asp-action="DeletePatient" asp-route-id="@item.PatientId">Delete</a>
                    @*<a asp-action="Book" asp-route-PatientId="@item.PatientId">Book Appointment</a> |
                    <a asp-action="Cancel" asp-route-PatientId="@item.PatientId">Cancel Appointment</a> |
*@
            </td>
        </tr>
}
    </tbody>
</table>
